:root {
    --primary-color: #b5ed3d;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    --height: 62px;

    min-width: 167px;
    height: var(--height);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: calc(var(--height) - 1px);
    text-align: center;
    color: #032e32;
    background: var(--primary-color);
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
