:root {
    --primary-color: #b5ed3d;
    --bg-color: #032e32;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    /* display: inline-block; */
    text-decoration: none;
}

.btn {
    --height: 62px;

    min-width: 167px;
    height: var(--height);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: calc(var(--height) - 1px);
    text-align: center;
    color: #032e32;
    background: var(--primary-color);
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 800;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #032e32;
}

.section-desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #4f5a5a;
}
