* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #fff;
    /* nen cho linear */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
}

.header {
    position: relative;
    background: #e0eae5;
    padding-bottom: 156px;
}

.header__top {
    padding: 28px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__log-in,
.header__link {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #032e32;
}

.header__link:hover {
    text-shadow: 0 1px 1px #032e32;
}

.header__active {
    text-shadow: 0 1px 1px #032e32;
}

.header__cta {
    display: flex;
    align-items: center;
}

.header__log-in {
    font-weight: 600;
    margin-right: 7px;
}

.header__sign-up {
    --height: 50px;

    min-width: 104px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;

    background: #032e32;
}

/* hero */
.hero {
    margin-top: 172px;
    display: flex;
    column-gap: 30px;
}

.hero__info {
}

.hero__heading {
    font-weight: 800;
    font-size: 7rem;
    line-height: 1.14;
    /* or 114% */

    color: #032e32;
}

.hero__desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #032e32;
}

.hero__form {
    display: flex;
    column-gap: 18px;
    margin-top: 40px;
}

.hero__search {
    display: flex;
    align-items: center;
    width: 361px;
    height: 62px;
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
}

.hero__search-icon {
    margin-right: 10px;
}

.hero__search-input {
    border: none;
    outline: none;
    width: 100%;
}

.hero__search-input::placeholder {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #69797a;
}

.hero__btn {
    min-width: 191px;
    border: none;
}

.hero_courses {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 50%;
}

.hero__list {
}

.hero__item {
    position: relative;
    z-index: 1;
    padding: 24px;
    width: 370px;
    background: #ffffff;
    border-radius: 12px;
}

.hero-item__img {
    position: relative;
}

.hero-item__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #032e32;
    border-radius: 50%;
}

.hero-item__thumb {
    display: block;
    width: 100%;
    height: 262px;
    object-fit: cover;
    border-radius: 12px;
}

.hero-item__title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    /* identical to box height, or 171% */

    color: #69797a;
}

.hero-item__row {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-item__heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #032e32;
}

.hero-item__price {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #032e32;
}

.hero-item__rating {
    margin-top: 3px;
    display: flex;
}

.hero-item__people,
.hero-item__label {
    font-weight: 400;
    font-size: 1.6;
    line-height: 1.75;
    color: #69797a;
}

.hero-item__star {
    margin: 0 6px;
}

.hero__deco {
    position: absolute;
    right: 0;
    top: 88px;
}

.header__discount {
    position: absolute;
    top: 106px;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: #ffcd00;
}

.discount__list {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    overflow: hidden;
}

.discount-item {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #032e32;
    white-space: nowrap;
}

.discount-item::before {
    content: "";
    display: inline-block;
    margin-right: 18px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #032e32;
}

/* benefit */
.benefits {
    padding: 48px 0;
    background: var(--bg-color);
}

.benefits__inner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    column-gap: 52px;
}

.benefits__header {
}

.benefits__title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.benefits__heading {
    margin-top: 12px;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.36;
    color: #ffffff;
}

.benefits__wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 242px;
    height: 260px;
    margin-top: -134px;
}

.benefits__wrap::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 214px;
    background: #ff5f1a;
    border-radius: 12px;
}

.benefits__thumb {
    position: relative;
    z-index: 1;
    display: block;
    width: 220px;
    object-fit: cover;
}

.benefits__btn {
    position: absolute;
    top: 96px;
    left: -28px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: #ffffff;
    border-radius: 50%;
}

.benefits__list {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 48px;
}

.benefits-item {
    width: 167px;
}

.benefits-item:last-child {
    width: 144px;
}

.benefits-item__desc {
    margin-top: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.33;
    color: #ffffff;
}

/* support */
.support {
    margin-top: 120px;
    padding: 40px 0;
}

.support__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.support__heading {
    width: 570px;
}

.support__desc {
    margin-top: 20px;
    width: 570px;
}

.support__btn {
    margin-top: 40px;
    display: inline-block;
}

.support__wrap {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.support__thumb-2,
.support__thumb-1 {
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}

.support__thumb-1 {
    width: 58%;
}

.support__thumb-2 {
    width: 40%;
}
/* feature */

.feature {
    margin-top: 80px;
    padding: 40px;
}

.feature__heading {
    width: 570px;
}

.feature__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.feature__item {
    padding: 44px 22px;
    background: #ffffff;
    border: 1px solid #d8e0e0;
    border-radius: 12px;
    cursor: pointer;
}

.feature__item:hover {
    box-shadow: 0px 18px 46px rgba(3, 46, 50, 0.08);
}

.feature-item__body {
    margin-top: 28px;
}

.feature-item__title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.45;
    color: #032e32;
}

.feature-item__desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rwm;
    line-height: 1.67;
    color: #4f5a5a;
}

/* courses */
.courses {
    margin-top: 120px;
    padding: 100px 0;
    background: #e0eae5;
}

.courses__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses__desc {
    margin-top: 18px;
    width: 570px;
    text-align: center;
}

.courses__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.courses__item {
    padding: 24px;
    background: #ffffff;
    border-radius: 12px;
}

.courses-item__wrap {
    position: relative;
}

.courses-item__thumb {
    width: 322px;
    height: 262px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.courses-item__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(50%);
    width: 54px;
    height: 54px;
    color: #fff;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.courses-item__cta:hover {
    color: var(--bg-color);
    background: var(--primary-color);
}

.courses-item__info {
    margin-top: 30px;
}

.courses-item__title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #4f5a5a;
}

.courses-item__row {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}

.courses-item__price,
.courses-item__heading {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #032e32;
}

.courses-item__rating {
    margin-top: 3px;
    display: flex;
    column-gap: 6px;
}

.courses-item__rate {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #4f5a5a;
}

.courses__cta {
    margin-top: 55px;

    display: flex;
    justify-content: center;
}

.courses-cta__btn {
    min-width: 158px;
    display: inline-block;
}

/* learning */

.learning {
    margin-top: 120px;
    padding: 40px 0;
}

.learning__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 130px;
}

.learning__wrap {
    position: relative;
}

.learning__img {
    width: 470px;
    height: 430px;
    object-fit: cover;
    border-radius: 15px;
}

.learning__play-btn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.learning__info {
}

.learning__desc {
    margin-top: 18px;
}

.learning__list {
    margin-top: 28px;
}

.learning__item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #032e32;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
}

.learning__item::before {
    content: url(../icons/check.svg);
    margin-right: 12px;
}

/* feedback */
.feedback {
    margin-top: 80px;
    padding: 40px 0;
}

.feedback__desc {
    margin-top: 18px;
    width: 570px;
}

.feedback__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.feedback__item {
    padding: 44px 24px;
    border-radius: 12px;
    border: 1px solid rgb(216, 224, 224);
    background: #fff;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

.feedback__item:hover {
    opacity: 1;
    border-color: transparent;
    box-shadow: 0px 18px 46px 0px rgba(3, 46, 50, 0.08);
}

.feedback-item__name,
.feedback-item__title {
    color: #032e32;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feedback-item__quote {
    margin-top: 28px;
    color: #4f5a5a;
    font-size: 1.6rem;
    line-height: 1.75;
}

.feedback-item__commentator {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.feedback-item__avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item__rating {
    margin-top: 6px;
    display: flex;
    column-gap: 9px;
}

.feedback__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.feedback__dot {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    background: #e0eae5;
}

.feedback__dot:hover {
    cursor: pointer;
}

.feedback__dot--active {
    background: #b5ed3d;
}

/* students */
.students {
    margin-top: 120px;
    padding: 100px 0;
    background-color: #04704e;
}

.students__inner {
    position: relative;
}

.students__avatars {
    position: relative;
    height: 210px;
}

.students__avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

.students__avatar:nth-of-type(1) {
    width: 62px;
    height: 62px;
    top: 70px;
    left: 280px;
}
.students__avatar:nth-of-type(2) {
    width: 120px;
    height: 120px;

    bottom: 0;
    left: 378px;
}
.students__avatar:nth-of-type(3) {
    width: 80px;
    height: 80px;
    top: 0;
    left: 509px;
}
.students__avatar:nth-of-type(4) {
    width: 144px;
    height: 144px;
    bottom: 2px;
    right: 407px;
}
.students__avatar:nth-of-type(5) {
    width: 76px;
    height: 76px;
    top: 4px;
    right: 329px;
}
.students__avatar:nth-of-type(6) {
    width: 62px;
    height: 62px;
    right: 287px;
    bottom: 27px;
}

.students__info {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.students__heading {
    color: #ffffff;
    width: 570px;
}

.students__desc {
    margin-top: 18px;
    color: #ffffff;
    width: 570px;
}

.students__cta-btn {
    margin-top: 38px;
    min-width: 173px;
}

.students__deco {
    position: absolute;
}

.students__deco:nth-of-type(1) {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.students__deco:nth-of-type(2) {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.students__deco:nth-of-type(3) {
    bottom: 4px;
    left: 265px;
}
.students__deco:nth-of-type(4) {
    top: -4px;
    right: 141px;
}

.footer {
    padding: 92px 0 30px;
    background: #e0eae5;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    column-gap: 128px;
}

.footer__heading {
    color: #032e32;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.footer__list {
    margin-top: 24px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 12px;
    color: #032e32;
    font-size: 1.6rem;
    line-height: 1.75;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__form {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.footer__input {
    width: 258px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #032e32;
    outline: none;
    padding: 0 18px;
    background-color: transparent;
}

.footer__input::placeholder {
    color: #032e32;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__submit {
    --height: 56px;

    min-width: 129px;
    outline: none;
    border: none;
}

.footer__contact {
    margin-top: 24px;
    display: flex;
    column-gap: 30px;
}

.contact__email {
}

.contact__title {
    color: #032e32;
    font-size: 1.6rem;
    line-height: 1.75;
}

.contact__desc {
    margin-top: 16px;
    color: #032e32;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.footer__socials {
    margin-top: 24px;
    display: flex;
    column-gap: 14px;
}

.footer__bottom {
    margin-top: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_payment {
    display: flex;
    column-gap: 28px;
}

.footer_copy-right {
    color: #5d6c6c;
    font-size: 1.6rem;
    line-height: 1.75;
}
