/* pc */
@media screen and (min-width: 62em) {
}

/* tablet and mobile */
@media screen and (max-width: 61.9375em) {
    .signup {
        background-color: #85ffbd;
        background-image: linear-gradient(#04704e 50%, #e0eae5 50%);
        /* height: 100vh; */
    }

    .signup__inner {
        flex-direction: column;
    }

    .signup__wrap {
        margin-top: 70px;
    }

    .signup__box {
        margin-top: 60px;
    }
}

/* tablet */
@media screen and (min-width: 48em) and (max-width: 61.9375em) {
    .signup {
        height: 100%;
    }
}

/* mobile */
@media screen and (max-width: 47.9375em) {
    .signup {
        height: 100%;
    }

    .signup__password-input,
    .signup__desc,
    .signup__heading,
    .signup__content,
    .signup__password,
    .signup__input,
    .signup__wrap {
        width: 100%;
    }

    .signup__heading {
        font-size: 3rem;
    }

    .signup__box {
        margin-top: 92px;
    }
}
